.content-list {
    @media (min-width: $MEDIUM-MAX) {
        .cardsContainer {
            border-top: 1px solid var(--border-default-grey);
        }
    }

    @media screen and (max-width:#{$MEDIUM-MAX}) {
        .tags-place {
            border-bottom: 1px solid var(--border-default-grey);
        }
    }

    .result-count {
        min-height: 1.75rem;
        display: none;
        &.visible {
            display: block;
        }
    }

    .mobile-filter__wrapper {
        &.is-pinned {
            position: sticky;
            top: -1px;
            z-index: 10;
            text-align: center;
        }
        box-shadow: 0 8px 8px 0 rgb(0 0 0 / 10%),
            0 8px 16px -16px rgb(0 0 0 / 32%);
    }

    .filter-open {
        background-color: white;
        width: 98%;
        min-height: 3.5rem;
        box-shadow: none;
        &::after {
            content: '···';
            flex: 2;
            text-align: right;
        }

        &.active {
            .mobile-filter__btn {
                display: inline-flex;

                &::after {
                    content: '•';
                    margin-left: 0.1rem;
                    margin-top: -0.75rem;
                }
            }
        }
    }

    // Tags
    .tags-place {
        button {
            background-color: var(--background-active-blue-france);
            color: var(--blue-france-975-sun-113);
        }
    }

    // Cards
    .fr-card {
        &:not(.fr-card--no-arrow) {
            .fr-card__body:after {
                position: absolute;
                font-size: 1rem;
                width: 1rem;
                height: 1rem;
                right: 1.5rem;
                bottom: 1.5rem;
            }
        }

        .fr-card__link:first-letter {
            text-transform: uppercase;
        }

        .fr-card__detail {
            color: var(--text-default-grey);
            font-size: 0.875rem;

            &:first-letter {
                text-transform: uppercase;
            }

            span {
                position: relative;
                &:after {
                    content: '·';
                    position: absolute;
                    right: -0.5rem;
                }
            }
        }

        .fr-card__desc {
            color: var(--text-mention-grey);
            font-size: 0.75rem;
            line-height: 1.25rem;
        }

        &.fr-card--horizontal .fr-card__img {
            @media (min-width: $MEDIUM-MAX) {
                max-width: 33%;
            }
        }
    }
}

@media screen and (max-width:#{$MEDIUM-MAX}) {
    .blockScroll {
        body {
            height: 100%;
            overflow: hidden;
            position: fixed;
        }
    }
}
