// Overload CSS for full website

.bloc-rs {
    .fr-footer__top-link {
        &::after {
            content: none;
        }

        &:hover {
            background: none;
        }
    }
}

#tarteaucitronDisclaimerAlert .rf-h4 {
    font-size: 1.375rem !important;
    font-weight: bold;
    display: block;
}

.tarteaucitron-titre {
    font-size: 1.375rem;
    line-height: 1.375;
    font-weight: bold;
}

#tarteaucitronRoot a {
    box-shadow: none;
}

// Hide :before widget video, avoid empty block before consent
.fr-responsive-vid:before {
    display: none;
}

.video .fr-content-media__caption,
.image .fr-content-media__caption {
    text-align: left;
    color: var(--text-mention-grey);
}

.image {
    img {
        vertical-align: middle;
    }
    figcaption {
        line-height: normal !important;
    }
}

.video iframe {
    width: 100% !important;
    height: 294px !important;
    border: 0;
}

.twitter-card,
.videoCall {
    text-align: center;
}

.media-transcription {
    text-align: left;
    border: 1px solid var(--border-default-grey);
    width: 100%;

    .fr-accordion {
        box-shadow: none;

        &::before {
            box-shadow: none;
        }
    }

    &-mention {
        color: var(--text-mention-grey);
    }

    &-separator {
        background-image: none;
        height: 1px;
        width: 1rem;
        background-color: var(--border-default-grey);
        margin-bottom: 0.25rem;
    }
}

// TO DO when update 1.5 DSFR
// => After update DSFR we can remove markup span + fr-fi-external-link-line class cause picto will be embed with class
// External open window choice button input
.fr-card {
    .fr-fi-external-link-line {
        position: absolute;
        right: 25px;
        top: 25px;
        &:before {
            color: var(--text-title-blue-france);
        }
    }
}

div[data-child-module='cards'] .fr-card__title a:after {
    display: none;
}

.button-special {
    &._blank .fr-card:not(.fr-card--no-arrow) .fr-card__body:after {
        content: var(--link-blank-content);
    }

    .fr-card__link {
        color: var(--text-action-high-blue-france);
        &::after {
            content: none;
        }
    }

    .fr-card__detail {
        order: 0;
        word-break: break-word;
    }

    .fr-card:not(.fr-card--no-arrow) .fr-card__body:after {
        position: absolute;
        font-size: 1rem;
        height: auto;
        width: auto;
        right: 1.5rem;
        bottom: 1.5rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .fr-card.fr-enlarge-link:not(a):not(:disabled):hover,
    a.fr-card.fr-enlarge-link[href]:hover {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.04),
            rgba(0, 0, 0, 0.04)
        );
    }
}

// Widget Content media (Video / Image)
.fr-content-media {
    margin-top: 0;
    margin-bottom: 0;
}

// Widget Link
[data-module='lien'] .fr-link,
.folder .fr-link {
    display: inline;
}

div[data-module='image'] img {
    border: 1px solid var(--border-default-grey);
}

div[data-module='liste'] {
    li {
        a {
            color: var(--text-action-high-blue-france);
            font-size: 16px;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}

// MAP
.leaflet-marker-icon {
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    position: absolute;
    .groupMarker {
        position: relative;
        width: 34px;
        height: 46px;
        text-align: center;
        margin-top: -35px;
        margin-left: -11px;
        .countPin {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--background-action-high-red-marianne);
            color: #fff;
            border-radius: 50%;
            min-width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px;
        }
    }
    .focusOn {
        img {
            transform: scale(1.2);
        }
        .countPin {
            transform: scale(1);
            right: -5px;
        }
    }
}
.leaflet-bar.leaflet-control {
    border-radius: 0;
    border: none;
    background-color: var(--background-default-grey);
    margin-right: 24px;
    margin-bottom: 24px;
    width: 2rem;
    overflow: hidden;
    @media screen and (max-width: $MEDIUM-MAX) {
        margin-right: 14px;
        margin-bottom: 42px;
    }
    a {
        display: block;
        width: 100%;
        text-indent: -5000px;
        border-radius: 0;
        background-color: transparent;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 18px 0;
        box-shadow: none;
        &.leaflet-control-zoom-in {
            background-image: url(../../images/common/zoom-in-line.svg);
            border-bottom-color: var(--border-default-grey);
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
        &.leaflet-control-zoom-out {
            box-shadow: none;

            background-image: url(../../images/common/zoom-out-line.svg);
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}
.leaflet-container a.leaflet-popup-close-button {
    box-shadow: none;
}

// iframe module (except video via Paragraph Module)
.fr-iframe iframe {
    min-height: 600px;
    height: auto;
    border: 0;
    width: 100%;
}

/* Social Network */
.fr-grid-row.socialNetwork ul {
    li {
        @media screen and (max-width: $MEDIUM-MAX) {
            text-align: center;
            max-width: none;
            width: auto;
        }
        button,
        a {
            border-radius: 50%;
            text-indent: -5000px;
            width: 3rem;
            height: 3rem;
            display: block;
            max-height: none !important;
            max-width: none !important;
            box-shadow: inset 0 0 0 1px var(--border-default-grey);
            &:before {
                text-indent: 0;
                margin-right: 0 !important;
                padding: 5px;
                display: block;
            }
        }
    }
}

// Marker list
@media screen and (max-width: $MEDIUM-MAX) {
    @supports not (-webkit-touch-callout: none) {
        /* CSS for other than iOS devices */
        ul > li::marker {
            font-size: 8px;
        }
    }
}

// Fix CSS PMv6
.fr-container {
    max-width: 1136px;
    @media screen and (min-width: $LARGE-MAX) {
        padding-left: 0;
        padding-right: 0;
    }
}

#header {
    box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 7%),
        0 0.5rem 1rem -1rem rgb(0 0 0 / 32%) !important;
    .fr-header__logo {
        .fr-logo:before {
            height: 1.1em;
        }
        .fr-logo a {
            display: block;
        }
        .fr-logo::after {
            margin-top: 0.2333rem;
        }
    }
    .fr-header__body {
        margin-bottom: -1px;
    }
    .fr-header__search {
        @media screen and (min-width: $MEDIUM-MAX) {
            width: 288px !important;
        }
        margin-top: -1px !important;
        .fr-input {
            font-size: 0.875rem;
            font-family: 'Marianne', arial, sans-serif;
            line-height: 1.5rem;
            padding-top: 0.4rem;
            margin-bottom: 0;
        }
    }
    .fr-nav__list .fr-nav__item {
        .fr-nav__link {
            font-size: 0.875rem;
            @media screen and (max-width: $MEDIUM-MAX) {
                padding-top: 0;
            }
        }
        .fr-nav__btn {
            @media screen and (min-width: $LARGE-MAX) {
                padding: 0.9rem 1.5rem 1rem;
                line-height: 1rem;
            }
            font-size: 0.875rem;
            font-weight: normal;
        }
    }
    .fr-nav__btn:after {
        margin-top: 1px;
    }
    input[type='search']::-webkit-search-decoration {
        display: none;
    }
    .fr-header__navbar .fr-btn {
        color: var(--text-default-grey);
    }
}

@media (min-width: $SMALL-MAX) {
    .fr-footer__bottom-item {
        margin-left: 0.5rem;
        &:before {
            margin-right: 0.5rem;
        }
    }
}

@media (min-width: $SMALL-MAX) {
    .fr-sidemenu__inner {
        box-shadow: none;
    }
}

h2,
h3,
h4,
h5,
h6,
p {
    scroll-margin-top: 1rem;
    @media screen and (max-width:#{$SMALL-MAX}) {
        scroll-margin-top: 4.5rem;
    }
}
